name: CD

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"

      - run: |
          python -m pip install --upgrade pip build
          pip install -r requirements.txt
          python -m build

      - uses: softprops/action-gh-release@v2
        with:
          files: dist/*.whl
